body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

li {
	margin:1em 0;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.error {
    color: red;
}

#logo {
    margin: 20px auto;
    width: 25%;
    height: 10%;
}

#contactUs {
    float: left;
    width: 8%;
    height: 5%;
    margin: 0 0 0 10px;
    max-height: 30px;
    max-width: 30px;
}



